@using SampleWeb.DbContext
@{
    ViewBag.Title = "Permission Management";

    var listPermission = SampleDbContext.Current.Permissions;
}

<h2>@ViewBag.Title</h2>
<div class="jumbotron p-3">
    This screen is used to manage the permission<br />
    You can append the functionality to add, edit, delete the permission<br />
    So far, for demo purpose, only Import is implemented<br />
    Import: copy permissions from defined permission collection (source code definition)<br />

</div>

<table class="table table-bordered">
    <thead class="bg-light">
        <tr>
            <th>PermissionId</th>
            <th>PermissionName</th>
            <th>PermissionGroup</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var permission in listPermission)
        {
            <tr>
                <td>@permission.PermissionId</td>
                <td>@permission.PermissionName</td>
                <td>@permission.PermissionGroup</td>
                <td>@permission.Description</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @using (Html.BeginForm("PermissionImport", "RoleEngine", FormMethod.Post))
    {
        <input type="submit" value="Import" class="btn btn-outline-success" />
    }
</div>

